# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.production
.env.*.local
.venv/
venv/
ENV/

# API Keys and sensitive configuration
config/local_settings.py
*.key
*.pem

# Fonts (keep ipaexg.ttf, ignore others)
fonts/*.ttf
!fonts/ipaexg.ttf

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Others
*.bak
*.swp
*.swo

**.md
!README.md


**.json

test**

**.pkl

**Zone.Identifier

!EDINET-DATAFETCHER/test_outout.py